.road-section{
  height:150vh;
  background:transparent;
  padding:100px 5%;
  overflow:hidden;
}

.road-section h2{
  text-align:center;
  color:white;
  margin-bottom:80px;
}

.road{
  position:relative;
  height:200px;
  border-bottom:8px dashed #fff;
}

.taxi{
  position:absolute;
  left:0;
  bottom:20px;

  width:180px;
}
@media (max-width: 768px) {

  .road-section {
    height: auto;
    min-height: 100vh;
    padding: 70px 4%;
  }

  .road-section h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .road {
    height: 120px;
    border-bottom: 6px dashed #fff;
  }

  .taxi {
    width: 110px;
    bottom: 10px;
  }
}